In [2]:
import pandas as pd
flights= pd.read_csv("https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/flights.csv")
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [8]:
df= flights[flights["WEEKDAY"] < 2]
df.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
666,1,5,1,OO,IAH,MEM,1258,-4.0,61.0,468,1430,-10.0,0,0
667,1,5,1,UA,DEN,SAN,1117,59.0,110.0,853,1241,46.0,0,0
668,1,5,1,DL,IAH,ATL,1406,-2.0,83.0,689,1702,-20.0,0,0
669,1,5,1,WN,PHX,SMF,1010,16.0,94.0,647,1115,12.0,0,0
670,1,5,1,WN,SFO,ATL,1340,17.0,254.0,2139,2110,19.0,0,0

In [9]:
df2= flights[flights["DEP_DELAY"] > 1000]
df2.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
58188,12,30,3,UA,DEN,LAX,1120,1194.0,121.0,862,1300,1185.0,0,0